<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
<table>
    <thead>
    <th>ISBN</th>
    <th>Title</th>
    <th>Author</th>
    </thead>

    <tbody>
    <tr>
        <td th:text="${bookIsbn}"></td>
        <td th:text="${bookTitle}"></td>
        <td th:text="${bookAuthor}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>