<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<a id="back-link" href="/">Index</a>

<h1>Sign Up</h1>
<form action="/signup" method='POST'>
    <table>
        <tr>
            <td>Username:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
        </tr>
        <tr>
            <td><button type="submit">Sign Up</button></td>
        </tr>
    </table>
</form>
</body>
</html>